@media (max-width: 375px) and (min-width: 1px)
{
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

:root
{
    --s-orange: hsl(35, 77%, 62%);
    --s-red: hsl(5, 85%, 63%);

    --o-white: hsl(36, 100%, 99%);
    --g-blue: hsl(233, 8%, 79%);
    --dg-blue: hsl(236, 13%, 42%);
    --vdg-blue: hsl(240, 100%, 5%);
}

body, html
{
    font-family: Inter;
    color: var(--vdg-blue);
    display: block;
}

h1, h2, h3, p
{
    margin: 0;
}

nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

nav a
{
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
    color: var(--dg-blue);
    transition: ease-in-out 0.15s;
    cursor: pointer;
}

.menu
{
    display: none;
}

.hamburger
{
    display: flex;
}

nav a:hover
{
    color: var(--s-red);
}

main
{
    width: 360px;
}

article
{
    display: block;
    grid-template-rows: 300px 0px;
    grid-template-columns: 300px;
    gap: 0px;
    margin-bottom: 50px;
}

.png_div
{
    background-image: url(assets/images/image-web-3-mobile.jpg);
    width: 360px;
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
}

.innerDiv
{
    display: grid;
    grid-template-rows: 200px 200px;
    grid-template-columns: 360px;
}

footer
{
    display: grid;
    grid-template-rows: repeat(3, 160px);
    grid-template-columns: 1fr;
}

.footerGrid
{
    display: flex;
    grid-template-columns: 1fr 1fr;
}

.left
{
    display: block;
    margin-bottom: 80px;
}

.right
{
    background: var(--vdg-blue);
    color: var(--o-white);
    display: block;
}

.right h1
{
    font-size: 30px;
    color: var(--s-orange);
    line-height: 20px;
}

.right a
{
    line-height: 35px;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
    transition: ease-in-out 0.15s;
}

.right a:hover
{
    color: var(--s-orange);
}

.right p
{
    line-height: 20px;
    font-size: 12px;
    font-weight: 400;
    color: hsl(233, 8%, 79%);
}

.right hr
{
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    height: 1px;
    background: var(--g-blue);
}

.right ul
{
    padding: 0;
    margin: 0;
    list-style: none;
}


.innerDiv
{
    margin-top: 30px;
}

.innerDiv h1
{
    font-size: 60px;
    font-weight: 800;
    line-height: 60px;
}

.innerDiv p
{
    color: var(--dg-blue);
    line-height: 25px;
}

.left_innerDiv
{
    position: relative;
}

.left_innerDiv p
{
    width: 355px;
}

.left_innerDiv button
{
    position: absolute;
    bottom: 0px;
    left: 0px;
    background: var(--s-red);
    font-family: inherit;
    color: var(--o-white);
    border: none;
    padding: 16px 30px 16px 30px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 5px;
    cursor: pointer;
    transition: ease-in-out 0.15s;
}

.left_innerDiv button:hover
{
    color: var(--o-white);
    background: var(--vdg-blue);
}

.footerGrid img
{
    height: 150px;
}

.footerGrid h1
{
    color: var(--dg-blue);
}

.footerGrid a
{
    font-size: 18px;
    font-weight: 800;
    line-height: 50px;
    text-decoration: none;
    cursor: pointer;
    transition: ease-in-out 0.15s;
}

.footerGrid a:hover
{
    color: var(--s-red);
}

.footerGrid p
{
    line-height: 30px;
}

.side_menu
{
    position: absolute;
    top: 50px;
    bottom: 0px;
    right: 0px;
    width: 200px;
    background-color: white;
    padding: 0px;
    z-index: 100;
    transition: all 0.5s ease;
    display: none;
}
.side_menu ul
{
    list-style: none;
    padding: 20px;
    margin: 50px 0px 0px 0px;
}

.side_menu li
{
    line-height: 50px;
    cursor: pointer;
    font-size: 18px;
}

.ham_box:checked ~ .side_menu
{
    display: block;
}

.ham_box:checked ~ .btn-c-o
{
    background-image: url(assets/images/icon-menu-close.svg);
}

.ham_box
{
    position: absolute;
    top: 5px;
    right: 5px;
    height: 50px;
    width: 50px;
    opacity: 0;
    display: block;
}

.btn-c-o
{
    position: absolute;
    z-index: 250;
    top: 15px;
    right: 18px; 
    background-image: url(assets/images/icon-menu.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 1px;
    height: 30px;
    width: 30px;
    pointer-events: none;
    transition: all ease-in-out 0.15s;
    display: block;
}

}